:root{
    --backgroundColor: #787326;
    --highlightColor: #CCC13A;
    --textColor: #3E3407;
    --basePadding: 8px;
    --baseRadius: 8px;
}
*{
    box-sizing: border-box;
}

body{
    display: block;
    background-image: radial-gradient(#f9f3d1, #f1e098);
    color: var(--textColor);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-size: 48pt;
    padding: var(--basePadding);
}
h2{
    font-size: 36pt;
    padding: var(--basePadding);
}
h3{
    font-size: 24pt;
    padding: var(--basePadding);
}
p{
    font-size: 14pt;
    padding: var(--basePadding);
}
a{
    font-size: 24pt;
    padding: var(--basePadding);
    text-decoration: none;
    color: var(--textColor);
}
nav a:hover{
    border: 2px;
    border-style: dashed;
    border-color: var(--highlightColor);
    color: var(--highlightColor);
    width: calc(100%-4px);
}

header{
    max-width: 1280px;
    margin: auto;
    display: flex;
    padding: var(--basePadding);
    background-color: var(--backgroundColor);
    flex-wrap: wrap;
}
header img{
    width: 128px;
    border-radius: 32px;
    margin-left: 50px;
    margin-right: 50px;
    align-self: center;
}
header h1{
    align-self: last baseline;
    padding-bottom: 0;
}
header nav{
    align-self: last baseline;
    align-content: space-evenly;
    margin-left: auto;
}
header nav a{
    padding-bottom: 0;
}
main section{
    width: 80%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    padding: var(--basePadding);
}
main section h2{
    flex-basis: 228px;
    flex-grow: 0;
    flex-shrink: 0;
}
#gallery{
    display: flex;
    flex-flow: wrap;
}
#gallery a{
    padding: 0;
}
.project{
    width: 45%;
    max-width: 480px;
    margin: 8px;
    border-radius: var(--baseRadius);
    background-color: var(--backgroundColor);
    transition: transform 250ms ease-in-out;
    transition: background-color 500ms ease-in-out;
}
.project img{
    position: relative;
    border-top-left-radius: var(--baseRadius);
    border-top-right-radius: var(--baseRadius);
    top: 8px;
    left: 8px;
    display: block;
    width: calc(100% - 16px);
    height: auto;
}
.project h3{
    position: relative;
    top: -64px;
    width: max-content;
    background-color: var(--backgroundColor);
    border-radius: var(--baseRadius);
    transition: background-color 500ms ease-in-out;
}
.project:hover h3{
    background-color: var(--highlightColor);
}
.project:hover{
    background-color: var(--highlightColor);
    transform: scale(1.03);
}
#focus{
    width: calc(90% + 16px);
    max-width: 1050px;
}

#contact{
    background-color: var(--backgroundColor);
}
#contact nav{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px){
    main section{
        flex-direction: column;
        align-items: flex-start;
    }
    main section h2{
        flex-basis: auto;
    }
    header{
        flex-direction: column;
        align-content: center;
    }
    .project, #focus{
        width: 96%;
        max-width: 1072px;
    }
}